.CartContainer {
  width: 95%;
  margin: 120px auto 0;
}

.CartContainer h1 {
  text-align: center;
  letter-spacing: 0.5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.CartContainer__Products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CartContainer__ProductDetail {
  display: flex;
  border: 2px solid lightgrey;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
}

.CartContainer__ProductDetail__ImageContainer {
  width: 120px;
  display: flex;
  justify-content: center;
}

.CartContainer__ProductDetail img {
  height: 80px;
}
.CartContainer__ProductDetail h4 {
  margin-bottom: 0;
}

.CartContainer__ProductDetail p {
  margin: 0 auto;
}

.CartContainer__ProductDetail p:last-child {
  font-weight: bold;
}

.CartContainer__ProductDetail__ProductName {
  width: 300px;
}

.CartContainer__TotalCart {
  text-align: end;
  margin-top: 2rem;
  font-weight: bold;
}

.CartContainer__ShopNow a {
  color: rgb(80, 80, 238);
  font-weight: bold;
  text-decoration: none;
}

.CartButton {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
  width: 140px;
  transition: all ease-in-out 250ms;
}

.CartButton:hover {
  text-decoration: none;
  background-color: gray;
  color: white;
  scale: 1.05;
}

.Checkout {
  text-decoration: none;
}
