.ItemDetail__ImageContainer {
  width: 35%;
  display: flex;
  justify-content: center;
}

.ItemDetail__ImageContainer img {
  height: 500px;
}

.ItemDetail__TextContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
}

.ItemDetail__TextContainer h2 {
  text-align: center;
  font-weight: bold;
}

.ItemDetail__TextContainer h5 {
  text-align: center;
  font-weight: bold;
}

.ItemDetail__TextContainer p {
  text-align: justify;
}

.ItemDetail__AddToCart {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  transition: all ease-in-out 250ms;
}

.ItemDetail__AddToCart:hover {
  text-decoration: none;
  background-color: gray;
  color: white;
  scale: 1.05;
}
