/* -------------------------------------------- */
/* --------------- SPINNER -------------------- */
/* -------------------------------------------- */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fondo opaco */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Efecto blur en contenido principal */
.blurred {
  filter: blur(5px);
  pointer-events: none; /* Desactiva la interacción */
  user-select: none; /* Evita selección de texto */
  opacity: 0.5;
}

/* -------------------------------------------- */
/* --------------- CREATE PODRIDA HEAD -------- */
/* -------------------------------------------- */

.create-podrida-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-podrida-head h2 {
  font-size: 1.17em;
}

.create-podrida-head .back-btn,
.create-podrida-head .back-btn i {
  color: var(--fourth-color);
  font-size: 0.8rem;
}

/* -------------------------------------------- */
/* --------------- FORMULARIO ----------------- */
/* -------------------------------------------- */

.form-create-podrida {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
}

.form-create-podrida label {
  font-weight: 600;
  margin-top: 0.5rem;
}

.form-create-podrida input,
.form-create-podrida select {
  padding: 0.4rem;
  border: 1px solid var(--light-gray, #ccc);
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  max-width: 500px;
}

.player-row {
  display: flex;
  gap: 1rem;
}

/* Para cada jugador */
.player-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.player-input input {
  flex: 1;
  min-width: 150px;
}

/* Botones para agregar o quitar jugadores */

.player-actions {
  display: flex;
  gap: 10px;
}

.player-actions button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Botón de envío */
.submit-btn {
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: fit-content;
  align-self: center;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
}

/* --------------------------------------------- */
/* --------------- MEDIA QUERIES --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 600px) {
  .player-input {
    flex-direction: column;
  }

  .form-create-podrida input,
  .form-create-podrida select {
    max-width: 100%;
  }
}
